/* Button - Start */
.control-btn {
    padding: 10px;
    border: none;
    outline: none;
    box-shadow: none;
    font-family: inherit;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 5px;
    background-color: transparent;
    color: var(--text-color);
    font-size: calc(var(--font-size)*0.8);
}

.control-btn:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
    background-color: var(--secondary-color);
}

.control-btn .icon {
    font-size: calc(var(--font-size)*1.4);
}

.export-section .control-btn {
    width: 100%;
}

@media screen and (max-width: 480px) {
    .export-section .control-btn {
        flex-direction: row;
        gap: 10px;
        font-size: calc(var(--font-size)*1.2);
        width: 100%;
    }

    .export-section .control-btn .icon {
        font-size: calc(var(--font-size)*1.2);
    }
}

/* Button - Start */