/* Theme Variables - Start */
:root {
    --background-color: linear-gradient(rgb(19, 34, 47) 0%, rgb(16, 21, 29) 30%);
    --primary-color: rgb(14, 20, 28);
    --secondary-color: rgb(217, 217, 217, 0.05);
    --border-color: rgb(36, 47, 65);
    --accent-color: rgb(77, 52, 250);
    --text-color: rgb(178, 178, 178);
    --bg-image: url(/src/bg-dark-dots.svg);
    --font-size: 1rem;
    --typeface: 'Space Grotesk', sans-serif;
}

body.lightMode {
    --background-color: linear-gradient(rgb(77, 52, 250, 0.05) 0%, #ffffff 80%);
    --primary-color: rgb(235, 232, 255);
    --secondary-color: rgb(77, 52, 250, 0.2);
    --border-color: rgb(77, 52, 250, 0.3);
    --accent-color: rgb(77, 52, 250);
    --text-color: #2c2c2c;
    --bg-image: url(/src/bg-light-dots.svg);
    --font-size: 1rem;
}

/* Theme Variables - End */